<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>edit id :<%=data.id%></h2>
    <h2>edit id :<%=data.email%></h2>

    <form
      method="post"
      action="http://localhost:8484/posts/<%=data.id%>?_method=PATCH"
    >
      <textarea name="username" id="" cols="30" rows="10">
<%=data.username%></textarea
      >
      <br /><br />
      <input type="password" name="password" />

      <br /><br />
      <input type="submit" value="edit" placeholder="password" />
    </form>
  </body>
</html>
